COLLABORATIVE FILTERING


# MetaData
- MOVIESLENS DATASET
- (whole dataset is in the form of comma seperated values)
    -The data set consists of 4 csv files named links, movies,ratings and tags
        - ratings.csv - all ratings contained in the file ratings.csv
                      - ratings made from 0-5 with 0.5 incrementation
        - tags.csv - contains all the tags
        - movies.csv - contains information about movie titles and the gneres associated with the movie
        - links.csv - contains identifiers that can be used to link other sources of movies data
                    - movieId - identifier movieLens
                    - imdbId - identifier imdb 
                    - tmdbId - identifier  theMovieDb
    -This data set describes a 5 - star rating and free-text tagging activity from MovieLens(a movie recommender service) 
    - 100836 ratings
    - 3683 tag applications
    - 9742 movies
    - users involed in creation = 610
    - duration of collection of data - March 29, 1996 - September 24, 2018
    - every user rated atleaset 20 ratings

In [1]:
# importing required libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb

In [2]:
# USER BASED SIMILARITY

In [2]:
ratings_df = pd.read_csv("ratings.csv",index_col = "userId")
del ratings_df['timestamp']
ratings_df

        movieId  rating
userId
1             1     4.0
1             3     4.0
1             6     4.0
1            47     5.0
1            50     5.0
...         ...     ...
610      166534     4.0
610      168248     5.0
610      168250     5.0
610      168252     5.0
610      170875     3.0

[100836 rows x 2 columns]

In [3]:
#creating a pivot table
ratings_pivot = ratings_df.pivot_table(values = 'rating',index = 'userId',columns = 'movieId')
ratings_pivot

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
ratings_pivot.fillna(0,inplace=True)
ratings_pivot

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
#importing sklearn libraries that are needed
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine
from scipy.spatial.distance import correlation

In [7]:
A = np.array(ratings_pivot)
dist_out =1- pairwise_distances(A,metric = "cosine")
dist_out

array([[1.        , 0.02728287, 0.05972026, ..., 0.29109737, 0.09357193,
        0.14532081],
       [0.02728287, 1.        , 0.        , ..., 0.04621095, 0.0275654 ,
        0.10242675],
       [0.05972026, 0.        , 1.        , ..., 0.02112846, 0.        ,
        0.03211875],
       ...,
       [0.29109737, 0.04621095, 0.02112846, ..., 1.        , 0.12199271,
        0.32205486],
       [0.09357193, 0.0275654 , 0.        , ..., 0.12199271, 1.        ,
        0.05322546],
       [0.14532081, 0.10242675, 0.03211875, ..., 0.32205486, 0.05322546,
        1.        ]])

In [8]:
#creating the above generated array into a dataframe
sim = pd.DataFrame(dist_out)
sim

,0,1,2,3,4,5,6,7,8,9,...,600,601,602,603,604,605,606,607,608,609
0,1.000000,0.027283,0.059720,0.194395,0.129080,0.128152,0.158744,0.136968,0.064263,0.016875,...,0.080554,0.164455,0.221486,0.070669,0.153625,0.164191,0.269389,0.291097,0.093572,0.145321
1,0.027283,1.000000,0.000000,0.003726,0.016614,0.025333,0.027585,0.027257,0.000000,0.067445,...,0.202671,0.016866,0.011997,0.000000,0.000000,0.028429,0.012948,0.046211,0.027565,0.102427
2,0.059720,0.000000,1.000000,0.002251,0.005020,0.003936,0.000000,0.004941,0.000000,0.000000,...,0.005048,0.004892,0.024992,0.000000,0.010694,0.012993,0.019247,0.021128,0.000000,0.032119
3,0.194395,0.003726,0.002251,1.000000,0.128659,0.088491,0.115120,0.062969,0.011361,0.031163,...,0.085938,0.128273,0.307973,0.052985,0.084584,0.200395,0.131746,0.149858,0.032198,0.107683
4,0.129080,0.016614,0.005020,0.128659,1.000000,0.300349,0.108342,0.429075,0.000000,0.030611,...,0.068048,0.418747,0.110148,0.258773,0.148758,0.106435,0.152866,0.135535,0.261232,0.060792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,0.164191,0.028429,0.012993,0.200395,0.106435,0.102123,0.200035,0.099388,0.075898,0.088963,...,0.178084,0.116534,0.300669,0.066032,0.148141,1.000000,0.153063,0.262558,0.069622,0.201104
606,0.269389,0.012948,0.019247,0.131746,0.152866,0.162182,0.186114,0.185142,0.011844,0.010451,...,0.092525,0.199910,0.203540,0.137834,0.118780,0.153063,1.000000,0.283081,0.149190,0.139114
607,0.291097,0.046211,0.021128,0.149858,0.135535,0.178809,0.323541,0.187233,0.100435,0.077424,...,0.158355,0.197514,0.232771,0.155306,0.178142,0.262558,0.283081,1.000000,0.121993,0.322055
608,0.093572,0.027565,0.000000,0.032198,0.261232,0.214234,0.090840,0.423993,0.000000,0.021766,...,0.035653,0.335231,0.061941,0.236601,0.097610,0.069622,0.149190,0.121993,1.000000,0.053225
609,0.145321,0.102427,0.032119,0.107683,0.060792,0.052668,0.193219,0.078153,0.074399,0.121072,...,0.222491,0.087528,0.163094,0.052552,0.119295,0.201104,0.139114,0.322055,0.053225,1.000000

In [9]:
#cos_sim = pd.DataFrame(sklearn.metrics.pairwise.cosine_similarity(rating_pivot))
#cos_sim.describe()
sim.describe()

,0,1,2,3,4,5,6,7,8,9,...,600,601,602,603,604,605,606,607,608,609
count,610.000000,610.000000,610.000000,610.000000,610.000000,610.000000,610.000000,610.000000,610.000000,610.000000,...,610.000000,610.000000,610.000000,610.000000,610.000000,610.000000,610.000000,610.000000,610.000000,610.000000
mean,0.134684,0.052725,0.010084,0.092815,0.124011,0.123589,0.136654,0.154505,0.044090,0.066918,...,0.136189,0.160800,0.113055,0.102135,0.100058,0.129797,0.133305,0.179964,0.113157,0.136639
std,0.083870,0.070423,0.042391,0.070298,0.119650,0.126842,0.083581,0.155218,0.055585,0.068791,...,0.105465,0.149669,0.081234,0.111721,0.067885,0.079248,0.082682,0.103584,0.120320,0.095415
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.012993,0.000000,0.000000,0.000000,0.000000
25%,0.080573,0.000000,0.000000,0.048826,0.044071,0.039298,0.077950,0.050781,0.000000,0.021018,...,0.048001,0.057638,0.061984,0.030277,0.055767,0.074589,0.069416,0.111745,0.035990,0.066873
50%,0.122640,0.029018,0.003531,0.077624,0.091391,0.076712,0.127143,0.108616,0.036904,0.043810,...,0.115704,0.114817,0.093717,0.064848,0.094301,0.111794,0.130759,0.158537,0.079649,0.118093
75%,0.172671,0.077870,0.008579,0.126982,0.151973,0.159861,0.185984,0.188414,0.072279,0.103943,...,0.213326,0.194683,0.144075,0.123708,0.133247,0.174050,0.182838,0.226191,0.129316,0.183908
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
#cos_sim.loc[25].sort_values(ascending=False)[0:6]
sim.loc[25].sort_values(ascending=False)[0:6]

25     1.000000
125    0.627688
241    0.608856
484    0.587288
55     0.580298
378    0.575720
Name: 25, dtype: float64

In [ ]:
#therefor the 5 most similar users to 25 are 125 241 484 55 and 378

In [11]:
#readin the movies dataset
movies = pd.read_csv("movies.csv")
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [33]:
rating = pd.read_csv("ratings.csv")
merged = pd.merge(rating,movies,on = 'movieId')
merged

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...
100831,610,160341,2.5,1479545749,Bloodmoon (1997),Action|Thriller
100832,610,160527,4.5,1479544998,Sympathy for the Underdog (1971),Action|Crime|Drama
100833,610,160836,3.0,1493844794,Hazard (2005),Action|Drama|Thriller
100834,610,163937,3.5,1493848789,Blair Witch (2016),Horror|Thriller
100835,610,163981,3.5,1493850155,31 (2016),Horror

In [34]:
merge[(merge.userId == 1)|(merge.userId == 338)]

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
215,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
267,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
369,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
572,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...,...
97114,338,190209,4.0,1530148487,Jeff Ross Roasts the Border (2017),Comedy
97115,338,190213,1.0,1530148478,John From (2015),Drama
97116,338,190215,1.5,1530148477,Liquid Truth (2017),Drama
97117,338,190219,1.0,1530148473,Bunny (1998),Animation
97118,338,190221,1.0,1530148473,Hommage à Zgougou (et salut à Sabine Mamou) (2...,Documentary

In [36]:
l1 = merged['title'][merge.userId == 1]
l338 = merged['title'][merge.userId == 338]
c = np.intersect1d(l1,l338)
for i in c:
    print(i)

Fight Club (1999)
Pulp Fiction (1994)
Schindler's List (1993)
Silence of the Lambs, The (1991)
Usual Suspects, The (1995)

In [21]:
for i in c :
    print("rating given to",i,"by user 1",merge['rating'][merge.title == i][merge.userId == 1])
    print("rating given to",i,"by user 338",merge['rating'][merge.title == i][merge.userId == 338])

rating given to Fight Club (1999) by user 2 14323    5.0
Name: rating, dtype: float64
rating given to Fight Club (1999) by user 338 14435    4.5
Name: rating, dtype: float64
rating given to Pulp Fiction (1994) by user 2 1819    3.0
Name: rating, dtype: float64
rating given to Pulp Fiction (1994) by user 338 1997    4.5
Name: rating, dtype: float64
rating given to Schindler's List (1993) by user 2 3570    5.0
Name: rating, dtype: float64
rating given to Schindler's List (1993) by user 338 3684    5.0
Name: rating, dtype: float64
rating given to Silence of the Lambs, The (1991) by user 2 4310    4.0
Name: rating, dtype: float64
rating given to Silence of the Lambs, The (1991) by user 338 4462    4.0
Name: rating, dtype: float64
rating given to Usual Suspects, The (1995) by user 2 572    5.0
Name: rating, dtype: float64
rating given to Usual Suspects, The (1995) by user 338 692    4.5
Name: rating, dtype: float64

In [37]:
similar = merged[(merged.userId==1) | (merged.userId == 338)]
similar[similar.duplicated('title',keep = False)][["title","userId","rating"]]

                                  title  userId  rating
572          Usual Suspects, The (1995)       1     5.0
692          Usual Suspects, The (1995)     338     4.5
1819                Pulp Fiction (1994)       1     3.0
1997                Pulp Fiction (1994)     338     4.5
3570            Schindler's List (1993)       1     5.0
3684            Schindler's List (1993)     338     5.0
4310   Silence of the Lambs, The (1991)       1     4.0
4462   Silence of the Lambs, The (1991)     338     4.0
14323                 Fight Club (1999)       1     5.0
14435                 Fight Club (1999)     338     4.5

In [23]:
l2 = merge['title'][(merge.userId == 2) & (merge.rating >= 4.0)]
lt338 = merge['title'][(merge.userId == 338) & (merge.rating >= 4.0)]
c2 = np.intersect1d(l2,lt338)
c2

array(['Kill Bill: Vol. 1 (2003)'], dtype=object)

In [24]:
# therefore Kill Bill is the movie common to both the users which has a least rating of 4.0 by both users

In [29]:
movies_pivot = rating.pivot(index='movieId',columns='userId',values='rating')
movies_pivot.fillna(0,inplace= True)
movies_pivot

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193583,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
distances = pd.DataFrame(pairwise_distances(movies_pivot,Y=movies_pivot,metric='correlation'))
distances

,0,1,2,3,4,5,6,7,8,9,...,9714,9715,9716,9717,9718,9719,9720,9721,9722,9723
0,0.000000,7.686735e-01,0.826787,1.028917,0.807526,0.807314,0.856257,0.914523,0.822755,0.816618,...,1.028906e+00,1.028906e+00,1.028906e+00,1.028906e+00,1.028906e+00,1.028906e+00,1.028906e+00,1.028906e+00,1.028906e+00,1.028906
1,0.768673,2.220446e-16,0.808055,0.928731,0.799474,0.841659,0.872431,0.858460,1.021045,0.714914,...,1.018291e+00,1.018291e+00,1.018291e+00,1.018291e+00,1.018291e+00,1.018291e+00,1.018291e+00,1.018291e+00,1.018291e+00,1.018291
2,0.826787,8.080551e-01,0.000000,0.932857,0.629829,0.803558,0.648487,0.703103,0.724188,0.863084,...,1.011729e+00,1.011729e+00,1.011729e+00,1.011729e+00,1.011729e+00,1.011729e+00,1.011729e+00,1.011729e+00,1.011729e+00,1.011729
3,1.028917,9.287311e-01,0.932857,0.000000,0.832090,0.946245,0.741925,0.851274,1.016025,0.944000,...,1.004138e+00,1.004138e+00,1.004138e+00,1.004138e+00,1.004138e+00,1.004138e+00,1.004138e+00,1.004138e+00,1.004138e+00,1.004138
4,0.807526,7.994743e-01,0.629829,0.832090,0.000000,0.784497,0.570110,0.734223,0.691915,0.889167,...,1.011456e+00,1.011456e+00,1.011456e+00,1.011456e+00,1.011456e+00,1.011456e+00,1.011456e+00,1.011456e+00,1.011456e+00,1.011456
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9719,1.028906,1.018291e+00,1.011729,1.004138,1.011456,1.017712,1.012033,1.004383,1.006359,1.020524,...,2.275957e-14,3.941292e-14,0.000000e+00,0.000000e+00,2.275957e-14,0.000000e+00,2.275957e-14,2.275957e-14,2.275957e-14,1.001642
9720,1.028906,1.018291e+00,1.011729,1.004138,1.011456,1.017712,1.012033,1.004383,1.006359,1.020524,...,0.000000e+00,2.831069e-14,2.275957e-14,2.275957e-14,0.000000e+00,2.275957e-14,0.000000e+00,0.000000e+00,0.000000e+00,1.001642
9721,1.028906,1.018291e+00,1.011729,1.004138,1.011456,1.017712,1.012033,1.004383,1.006359,1.020524,...,0.000000e+00,2.831069e-14,2.275957e-14,2.275957e-14,0.000000e+00,2.275957e-14,0.000000e+00,0.000000e+00,0.000000e+00,1.001642
9722,1.028906,1.018291e+00,1.011729,1.004138,1.011456,1.017712,1.012033,1.004383,1.006359,1.020524,...,0.000000e+00,2.831069e-14,2.275957e-14,2.275957e-14,0.000000e+00,2.275957e-14,0.000000e+00,0.000000e+00,0.000000e+00,1.001642
9723,1.028906,1.018291e+00,1.011729,1.004138,1.011456,1.017712,1.012033,1.004383,1.006359,0.939141,...,1.001642e+00,1.001642e+00,1.001642e+00,1.001642e+00,1.001642e+00,1.001642e+00,1.001642e+00,1.001642e+00,1.001642e+00,0.000000

In [38]:
#top 5 movies which are similar to the movie “Godfather”.

In [44]:
movies[movies.movieId==858]

     movieId                  title       genres
659      858  Godfather, The (1972)  Crime|Drama

In [45]:
#The index number of the MovieId 858 is 659

In [50]:
for i in distances.iloc[659].nsmallest(6).index.tolist()[1:]:
    print(movies.title.iloc[i])

Blues Brothers, The (1980)
Third Man, The (1949)
Paris Is Burning (1990)
Dirty Dancing (1987)
Fargo (1996)